<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wishing Templates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="trafficjunky-site-verification" content="nzx3nt100" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    .img-responsive{
        width: 100%;
        height: 100%;
    }
       
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Deucate</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul> -->
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
        <a  href="" id="first">
      <script>
        document.getElementById('first').onclick = function(){
          var url = window.location+'0/YourName'
          document.getElementById('first').href = url
        }
      </script>
      <div class="panel panel-primary">
        <div class="panel-heading">Republic Day!</div>
        <div class="panel-body"><img src="http://www.indiacelebrating.com/wp-content/uploads/Republic-Day.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">26 January</div>
      </div>
    </a>
    </div>
    <div class="col-sm-4"> 
        <a  href="" id="second">
            <script>
              document.getElementById('second').onclick = function(){
                var url = window.location+'1/YourName'
                document.getElementById('second').href = url
              }
            </script>
      <div class="panel panel-danger">
        <div class="panel-heading">Mahasivratri</div>
        <div class="panel-body"><img src="http://s3.india.com/wp-content/uploads/2016/03/01-21.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">13th Feb</div>
      </div>
    </a>
    </div>
    <div class="col-sm-4"> 
        <a  href="" id="third">
            <script>
              document.getElementById('third').onclick = function(){
                var url = window.location+'2/YourName'
                document.getElementById('third').href = url
              }
            </script>
      <div class="panel panel-success">
        <div class="panel-heading">Holi</div>
        <div class="panel-body"><img src="https://blog-content.ixigo.com/wp-content/uploads/2017/03/shutterstock_389227129.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">2nd March</div>
      </div>
      </a>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
        <a  href="" id="forth">
            <script>
              document.getElementById('forth').onclick = function(){
                var url = window.location+'3/YourName'
                document.getElementById('forth').href = url
              }
            </script>
        <div class="panel panel-primary">
        <div class="panel-heading">Raksha Bandhan</div>
        <div class="panel-body"><img src="https://www.askideas.com/wp-content/uploads/2017/07/Happy-Raksha-Bandhan-Card.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">18th August</div>
      </div>
        </a>
    </div>
    <div class="col-sm-4"> 
        <a  href="" id="fifth">
            <script>
              document.getElementById('fifth').onclick = function(){
                var url = window.location+'4/YourName'
                document.getElementById('fifth').href = url
              }
            </script>
      <div class="panel panel-primary">
        <div class="panel-heading">Diwali</div>
        <div class="panel-body"><img src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/10/12/Pictures/_97629eb8-af39-11e7-9bc1-6ddb500cf946.jpg" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">Indian new year</div>
      </div>
      </a>
    </div>
    <div class="col-sm-4"> 
        <a  href="" id="sixth">
            <script>
              document.getElementById('sixth').onclick = function(){
                var url = window.location+'5/YourName'
                document.getElementById('sixth').href = url
              }
            </script>
      <div class="panel panel-primary">
        <div class="panel-heading">New Year</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo7wpdl_2pdBQBNOii5bZyi9ci_9cDV6t7Nlk3QK3azdeBpyyqIQ" class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">1st January</div>
      </div>
      </a>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
